@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Shadows+Into+Light');

body {
  font-family: 'Fjalla One', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: red;
  color: white;
  padding: 20px 10%;
  shadow: 0px 50px hsla(0, 0%, 20%, 0.5);
  background-image: linear-gradient(to right, white 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 20px 1px;
  background-repeat: repeat-x;
}

h1 {
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 4rem;
  border-bottom: 2px solid white;
  margin-bottom: 5px;
  color: white;
}

header h2 {
  font-size: 2rem;
  align-self: center;
  color: white;
}


#drop-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-pic {
  height: 70px;
  border-radius: 50px;
  margin-right: 20px;
}

li ul {
  display: none;
}

ul li a {
  font-size: 1.3rem;
  border-bottom: 2px solid white;
  display: block;
  background: red;
  padding: 5px 10px 5px 10px;
  color: #fff;
}

ul li a:hover {
  background: #f00;
}

#drop-nav:hover ul {
  display: block;
  position: absolute;
}

li:hover li {
  float: none;
}

li:hover a {
  background: #f00;
}

li:hover li a:hover {
  background: #000;
}

#drop-nav li ul li {
  border-top: 0px;
}

main {
  min-height: 200vh;
  padding: 20px 10px;
  background-color: grey;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

main #appendToMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  background-color: tomato;
  padding-top: 20px;
}

main .card {
  width: 80%;
  height: 150px;
  margin: 20px 0px;
  padding: 10px;
  border: 1px solid black;
  background-color: hsl(0, 0%, 90%);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card span {
  color: hsl(0, 0%, 50%);
  align-self: flex-end;
}

main #appendToMe h2 {
  font-size: 2rem;
  font-family: "Shadows into Light", sans-serif;
  margin-bottom: 10px;
  text-decoration: underline;
}

main #appendToMe p {
  font-size: 1.3rem;
}

main #appendToMe h3 {
  font-family: "Shadows Into Light", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin: auto;
}

form {
  font-size: 1.6rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 40vh;
  padding: 30px;
  background-color: red;
  border: 2px solid white;
  box-shadow: -5px 10px 15px 2px hsla(0, 0%, 20%, 0.5)
}

form #submit {
  width: 80%;
  align-self: center;
  background-color: yellow;
}
